---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection';
import NotificationRoot from '../components/NotificationRoot';
import Footer from '../components/Footer.astro';
import { products } from '../data/products';
---

<Layout title="Software Gratis - Descarga las mejores aplicaciones gratuitas">
	<Header />
	<main id="main-content">
		<HeroSection client:load />
		<NotificationRoot products={products} page="grid" client:load />
	</main>
	<Footer />
</Layout>
